In [1]:
from openpyxl import Workbook
from xlsxwriter.utility import xl_rowcol_to_cell, xl_col_to_name
from openpyxl.styles import Border, Side, PatternFill, Font, GradientFill, Alignment
import pandas as pd
import numpy as np
import xlsxwriter

In [49]:
df = pd.read_excel(io= "/Users/espe/Google Drive/research-projects/ihq_research/Actions.csv")
df2 = pd.read_excel(io= "/Users/espe/Google Drive/research-projects/ihq_research/Actions2.xlsx")

In [50]:
df.shape

(81, 5)

In [51]:
df2.shape

(83, 5)

In [11]:
for i,rows in df.iterrows():
        for j,cols in df.iteritems():
                print (i,j)

0 date
0 name
0 value
0 direction
0 durationInSeconds
1 date
1 name
1 value
1 direction
1 durationInSeconds
2 date
2 name
2 value
2 direction
2 durationInSeconds
3 date
3 name
3 value
3 direction
3 durationInSeconds
4 date
4 name
4 value
4 direction
4 durationInSeconds
5 date
5 name
5 value
5 direction
5 durationInSeconds
6 date
6 name
6 value
6 direction
6 durationInSeconds
7 date
7 name
7 value
7 direction
7 durationInSeconds
8 date
8 name
8 value
8 direction
8 durationInSeconds
9 date
9 name
9 value
9 direction
9 durationInSeconds
10 date
10 name
10 value
10 direction
10 durationInSeconds
11 date
11 name
11 value
11 direction
11 durationInSeconds
12 date
12 name
12 value
12 direction
12 durationInSeconds
13 date
13 name
13 value
13 direction
13 durationInSeconds
14 date
14 name
14 value
14 direction
14 durationInSeconds
15 date
15 name
15 value
15 direction
15 durationInSeconds
16 date
16 name
16 value
16 direction
16 durationInSeconds
17 date
17 name
17 value
17 direction
17 durationInSeconds
18 date
18 name
18 value
18 direction
18 durationInSeconds
19 date
19 name
19 value
19 direction
19 durationInSeconds
20 date
20 name
20 value
20 direction
20 durationInSeconds
21 date
21 name
21 value
21 direction
21 durationInSeconds
22 date
22 name
22 value
22 direction
22 durationInSeconds
23 date
23 name
23 value
23 direction
23 durationInSeconds
24 date
24 name
24 value
24 direction
24 durationInSeconds
25 date
25 name
25 value
25 direction
25 durationInSeconds
26 date
26 name
26 value
26 direction
26 durationInSeconds
27 date
27 name
27 value
27 direction
27 durationInSeconds
28 date
28 name
28 value
28 direction
28 durationInSeconds
29 date
29 name
29 value
29 direction
29 durationInSeconds
30 date
30 name
30 value
30 direction
30 durationInSeconds
31 date
31 name
31 value
31 direction
31 durationInSeconds
32 date
32 name
32 value
32 direction
32 durationInSeconds
33 date
33 name
33 value
33 direction
33 durationInSeconds
34 date
34 name
34 value
34 direction
34 durationInSeconds
35 date
35 name
35 value
35 direction
35 durationInSeconds
36 date
36 name
36 value
36 direction
36 durationInSeconds
37 date
37 name
37 value
37 direction
37 durationInSeconds
38 date
38 name
38 value
38 direction
38 durationInSeconds
39 date
39 name
39 value
39 direction
39 durationInSeconds
40 date
40 name
40 value
40 direction
40 durationInSeconds
41 date
41 name
41 value
41 direction
41 durationInSeconds
42 date
42 name
42 value
42 direction
42 durationInSeconds
43 date
43 name
43 value
43 direction
43 durationInSeconds
44 date
44 name
44 value
44 direction
44 durationInSeconds
45 date
45 name
45 value
45 direction
45 durationInSeconds
46 date
46 name
46 value
46 direction
46 durationInSeconds
47 date
47 name
47 value
47 direction
47 durationInSeconds
48 date
48 name
48 value
48 direction
48 durationInSeconds
49 date
49 name
49 value
49 direction
49 durationInSeconds
50 date
50 name
50 value
50 direction
50 durationInSeconds
51 date
51 name
51 value
51 direction
51 durationInSeconds
52 date
52 name
52 value
52 direction
52 durationInSeconds
53 date
53 name
53 value
53 direction
53 durationInSeconds
54 date
54 name
54 value
54 direction
54 durationInSeconds
55 date
55 name
55 value
55 direction
55 durationInSeconds
56 date
56 name
56 value
56 direction
56 durationInSeconds
57 date
57 name
57 value
57 direction
57 durationInSeconds
58 date
58 name
58 value
58 direction
58 durationInSeconds
59 date
59 name
59 value
59 direction
59 durationInSeconds
60 date
60 name
60 value
60 direction
60 durationInSeconds
61 date
61 name
61 value
61 direction
61 durationInSeconds
62 date
62 name
62 value
62 direction
62 durationInSeconds
63 date
63 name
63 value
63 direction
63 durationInSeconds
64 date
64 name
64 value
64 direction
64 durationInSeconds
65 date
65 name
65 value
65 direction
65 durationInSeconds
66 date
66 name
66 value
66 direction
66 durationInSeconds
67 date
67 name
67 value
67 direction
67 durationInSeconds
68 date
68 name
68 value
68 direction
68 durationInSeconds
69 date
69 name
69 value
69 direction
69 durationInSeconds
70 date
70 name
70 value
70 direction
70 durationInSeconds
71 date
71 name
71 value
71 direction
71 durationInSeconds
72 date
72 name
72 value
72 direction
72 durationInSeconds
73 date
73 name
73 value
73 direction
73 durationInSeconds
74 date
74 name
74 value
74 direction
74 durationInSeconds
75 date
75 name
75 value
75 direction
75 durationInSeconds
76 date
76 name
76 value
76 direction
76 durationInSeconds
77 date
77 name
77 value
77 direction
77 durationInSeconds
78 date
78 name
78 value
78 direction
78 durationInSeconds
79 date
79 name
79 value
79 direction
79 durationInSeconds
80 date
80 name
80 value
80 direction
80 durationInSeconds

In [12]:
np.where(df.name== "VOICE")

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
        34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]),)

In [13]:
np.where(df.name== "siteVisit")

(array([45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61,
        62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78,
        79, 80]),)

In [17]:
new_dict = df.to_dict()

In [18]:
new_dict

{'date': {0: Timestamp('2017-05-02 00:00:00'),
  1: Timestamp('2017-05-02 00:00:00'),
  2: Timestamp('2017-05-02 00:00:00'),
  3: Timestamp('2017-05-02 00:00:00'),
  4: Timestamp('2017-05-02 00:00:00'),
  5: Timestamp('2017-05-02 00:00:00'),
  6: Timestamp('2017-05-03 00:00:00'),
  7: Timestamp('2017-05-03 00:00:00'),
  8: Timestamp('2017-05-03 00:00:00'),
  9: Timestamp('2017-05-03 00:00:00'),
  10: Timestamp('2017-05-03 00:00:00'),
  11: Timestamp('2017-05-10 00:00:00'),
  12: Timestamp('2017-05-10 00:00:00'),
  13: Timestamp('2017-05-10 00:00:00'),
  14: Timestamp('2017-05-10 00:00:00'),
  15: Timestamp('2017-05-10 00:00:00'),
  16: Timestamp('2017-05-11 00:00:00'),
  17: Timestamp('2017-05-11 00:00:00'),
  18: Timestamp('2017-05-11 00:00:00'),
  19: Timestamp('2017-05-11 00:00:00'),
  20: Timestamp('2017-05-11 00:00:00'),
  21: Timestamp('2017-05-11 00:00:00'),
  22: Timestamp('2017-05-15 00:00:00'),
  23: Timestamp('2017-05-15 00:00:00'),
  24: Timestamp('2017-05-15 00:00:00'),
  25: Timestamp('2017-05-17 00:00:00'),
  26: Timestamp('2017-05-17 00:00:00'),
  27: Timestamp('2017-05-24 00:00:00'),
  28: Timestamp('2017-05-24 00:00:00'),
  29: Timestamp('2017-05-24 00:00:00'),
  30: Timestamp('2017-05-24 00:00:00'),
  31: Timestamp('2017-05-24 00:00:00'),
  32: Timestamp('2017-05-24 00:00:00'),
  33: Timestamp('2017-05-25 00:00:00'),
  34: Timestamp('2017-05-25 00:00:00'),
  35: Timestamp('2017-05-30 00:00:00'),
  36: Timestamp('2017-05-30 00:00:00'),
  37: Timestamp('2017-05-30 00:00:00'),
  38: Timestamp('2017-05-30 00:00:00'),
  39: Timestamp('2017-05-30 00:00:00'),
  40: Timestamp('2017-05-06 00:00:00'),
  41: Timestamp('2017-05-06 00:00:00'),
  42: Timestamp('2017-05-06 00:00:00'),
  43: Timestamp('2017-05-06 00:00:00'),
  44: Timestamp('2017-05-06 00:00:00'),
  45: Timestamp('2017-02-02 00:00:00'),
  46: Timestamp('2017-02-02 00:00:00'),
  47: Timestamp('2017-02-02 00:00:00'),
  48: Timestamp('2017-05-03 00:00:00'),
  49: Timestamp('2017-05-03 00:00:00'),
  50: Timestamp('2017-05-03 00:00:00'),
  51: Timestamp('2017-05-03 00:00:00'),
  52: Timestamp('2017-05-03 00:00:00'),
  53: Timestamp('2017-05-03 00:00:00'),
  54: Timestamp('2017-05-03 00:00:00'),
  55: Timestamp('2017-05-03 00:00:00'),
  56: Timestamp('2017-05-09 00:00:00'),
  57: Timestamp('2017-05-09 00:00:00'),
  58: Timestamp('2017-05-09 00:00:00'),
  59: Timestamp('2017-05-09 00:00:00'),
  60: Timestamp('2017-05-10 00:00:00'),
  61: Timestamp('2017-05-10 00:00:00'),
  62: Timestamp('2017-05-10 00:00:00'),
  63: Timestamp('2017-05-10 00:00:00'),
  64: Timestamp('2017-05-15 00:00:00'),
  65: Timestamp('2017-05-15 00:00:00'),
  66: Timestamp('2017-05-15 00:00:00'),
  67: Timestamp('2017-05-15 00:00:00'),
  68: Timestamp('2017-05-17 00:00:00'),
  69: Timestamp('2017-05-17 00:00:00'),
  70: Timestamp('2017-05-18 00:00:00'),
  71: Timestamp('2017-05-18 00:00:00'),
  72: Timestamp('2017-05-18 00:00:00'),
  73: Timestamp('2017-05-18 00:00:00'),
  74: Timestamp('2017-05-18 00:00:00'),
  75: Timestamp('2017-05-25 00:00:00'),
  76: Timestamp('2017-05-25 00:00:00'),
  77: Timestamp('2017-05-30 00:00:00'),
  78: Timestamp('2017-05-30 00:00:00'),
  79: Timestamp('2017-05-30 00:00:00'),
  80: Timestamp('2017-05-30 00:00:00')},
 'direction': {0: 'outbound',
  1: 'outbound',
  2: 'outbound',
  3: 'outbound',
  4: 'outbound',
  5: 'outbound',
  6: 'outbound',
  7: 'outbound',
  8: 'outbound',
  9: 'outbound',
  10: 'outbound',
  11: 'outbound',
  12: 'outbound',
  13: 'outbound',
  14: 'outbound',
  15: 'outbound',
  16: 'outbound',
  17: 'outbound',
  18: 'outbound',
  19: 'outbound',
  20: 'outbound',
  21: 'outbound',
  22: 'outbound',
  23: 'inbound',
  24: 'outbound',
  25: 'outbound',
  26: 'outbound',
  27: 'outbound',
  28: 'outbound',
  29: 'inbound',
  30: 'outbound',
  31: 'outbound',
  32: 'outbound',
  33: 'outbound',
  34: 'outbound',
  35: 'outbound',
  36: 'outbound',
  37: 'outbound',
  38: 'outbound',
  39: 'outbound',
  40: 'outbound',
  41: 'inbound',
  42: 'outbound',
  43: 'outbound',
  44: 'outbound',
  45: 'null',
  46: 'null',
  47: 'null',
  48: 'null',
  49: 'null',
  50: 'null',
  51: 'null',
  52: 'null',
  53: 'null',
  54: 'null',
  55: 'null',
  56: 'null',
  57: 'null',
  58: 'null',
  59: 'null',
  60: 'null',
  61: 'null',
  62: 'null',
  63: 'null',
  64: 'null',
  65: 'null',
  66: 'null',
  67: 'null',
  68: 'null',
  69: 'null',
  70: 'null',
  71: 'null',
  72: 'null',
  73: 'null',
  74: 'null',
  75: 'null',
  76: 'null',
  77: 'null',
  78: 'null',
  79: 'null',
  80: 'null'},
 'durationInSeconds': {0: datetime.time(1, 0),
  1: datetime.time(12, 0),
  2: datetime.time(0, 12),
  3: datetime.time(1, 0),
  4: datetime.time(0, 18),
  5: datetime.time(0, 13),
  6: datetime.time(0, 18),
  7: datetime.time(0, 23),
  8: datetime.time(0, 14),
  9: datetime.time(0, 34),
  10: 'Missed call.',
  11: datetime.time(0, 4),
  12: datetime.time(0, 6),
  13: datetime.time(0, 6),
  14: datetime.time(0, 6),
  15: datetime.time(0, 13),
  16: datetime.time(0, 9),
  17: datetime.time(0, 7),
  18: datetime.time(0, 17),
  19: datetime.time(0, 6),
  20: datetime.time(0, 4),
  21: 'Missed call',
  22: datetime.time(0, 5),
  23: datetime.time(0, 2),
  24: datetime.time(0, 3),
  25: datetime.time(0, 3),
  26: datetime.time(0, 10),
  27: 'Missed call',
  28: datetime.time(0, 20),
  29: nan,
  30: datetime.time(0, 31),
  31: datetime.time(0, 28),
  32: datetime.time(1, 1),
  33: datetime.time(1, 2),
  34: datetime.time(0, 12),
  35: datetime.time(0, 33),
  36: datetime.time(0, 22),
  37: datetime.time(0, 21),
  38: datetime.time(0, 43),
  39: datetime.time(2, 0),
  40: datetime.time(0, 19),
  41: datetime.time(0, 0),
  42: datetime.time(0, 17),
  43: datetime.time(0, 17),
  44: datetime.time(0, 17),
  45: nan,
  46: nan,
  47: nan,
  48: nan,
  49: nan,
  50: nan,
  51: nan,
  52: nan,
  53: nan,
  54: nan,
  55: nan,
  56: nan,
  57: nan,
  58: nan,
  59: nan,
  60: nan,
  61: nan,
  62: nan,
  63: nan,
  64: nan,
  65: nan,
  66: nan,
  67: nan,
  68: nan,
  69: nan,
  70: nan,
  71: nan,
  72: nan,
  73: nan,
  74: nan,
  75: nan,
  76: nan,
  77: nan,
  78: nan,
  79: nan,
  80: nan},
 'name': {0: 'VOICE',
  1: 'VOICE',
  2: 'VOICE',
  3: 'VOICE',
  4: 'VOICE',
  5: 'VOICE',
  6: 'VOICE',
  7: 'VOICE',
  8: 'VOICE',
  9: 'VOICE',
  10: 'VOICE',
  11: 'VOICE',
  12: 'VOICE',
  13: 'VOICE',
  14: 'VOICE',
  15: 'VOICE',
  16: 'VOICE',
  17: 'VOICE',
  18: 'VOICE',
  19: 'VOICE',
  20: 'VOICE',
  21: 'VOICE',
  22: 'VOICE',
  23: 'VOICE',
  24: 'VOICE',
  25: 'VOICE',
  26: 'VOICE',
  27: 'VOICE',
  28: 'VOICE',
  29: 'VOICE',
  30: 'VOICE',
  31: 'VOICE',
  32: 'VOICE',
  33: 'VOICE',
  34: 'VOICE',
  35: 'VOICE',
  36: 'VOICE',
  37: 'VOICE',
  38: 'VOICE',
  39: 'VOICE',
  40: 'VOICE',
  41: 'VOICE',
  42: 'VOICE',
  43: 'VOICE',
  44: 'VOICE',
  45: 'siteVisit',
  46: 'siteVisit',
  47: 'siteVisit',
  48: 'siteVisit',
  49: 'siteVisit',
  50: 'siteVisit',
  51: 'siteVisit',
  52: 'siteVisit',
  53: 'siteVisit',
  54: 'siteVisit',
  55: 'siteVisit',
  56: 'siteVisit',
  57: 'siteVisit',
  58: 'siteVisit',
  59: 'siteVisit',
  60: 'siteVisit',
  61: 'siteVisit',
  62: 'siteVisit',
  63: 'siteVisit',
  64: 'siteVisit',
  65: 'siteVisit',
  66: 'siteVisit',
  67: 'siteVisit',
  68: 'siteVisit',
  69: 'siteVisit',
  70: 'siteVisit',
  71: 'siteVisit',
  72: 'siteVisit',
  73: 'siteVisit',
  74: 'siteVisit',
  75: 'siteVisit',
  76: 'siteVisit',
  77: 'siteVisit',
  78: 'siteVisit',
  79: 'siteVisit',
  80: 'siteVisit'},
 'value': {0: '0800 389 7000',
  1: '0345 734 5345',
  2: '0345 300 0000',
  3: '020 7659 4500',
  4: '020 7925 2286',
  5: '020 7235 3074',
  6: '0345 300 0000',
  7: '0345 734 5345',
  8: '01923 477777',
  9: '020 7931 0445',
  10: '0151 255 1525',
  11: '020 7494 0697',
  12: '020 7437 1344',
  13: '020 7494 9748',
  14: '020 7437 8446',
  15: '0345 734 5345',
  16: '0345 721 3141',
  17: '0800 00\xa055\xa000',
  18: '020 3402 7550',
  19: '020 7753 1000',
  20: '020 7836 4678',
  21: '020 7583 0216',
  22: '020 7834 3171',
  23: '020 7834 3171',
  24: '020 7371 4848',
  25: '020 7930 8205',
  26: '020 7242 1290',
  27: '020 7851 7471',
  28: '020 7240 7342',
  29: 'no caller ID',
  30: '020 7112 1538',
  31: '\xa0020 7449 1200',
  32: '020 7847 5500',
  33: '020 7836 5454',
  34: '020 7591 8600',
  35: '020 7819 2600',
  36: '020 7514 3559',
  37: '020 7514 3561',
  38: '020 8788 6036',
  39: '020 7495 0000',
  40: '020 7262 8887',
  41: '020 7262 8887',
  42: '01342 349352',
  43: '0330 042 4607',
  44: '020 3284 5772',
  45: 'www.skyscanner.com',
  46: 'http://www.gq-magazine.co.uk/',
  47: 'm.asos.com',
  48: 'amazon.co.uk',
  49: 'm.asos.com',
  50: 'www.expedia.co.uk',
  51: 'www.cyclist.co.uk',
  52: 'www.tennis.com',
  53: 'www.skyscanner.com',
  54: 'm.lastminute.com',
  55: 'shop.ee.co.uk',
  56: 'www.tennis.com',
  57: 'www.gq-magazine.co.uk',
  58: 'www.boxing4fitness.co.uk',
  59: 'm.asos.com',
  60: 'm.asos.com',
  61: 'www.thesartorialist.com',
  62: 'www.tennis.com',
  63: 'www.flashscores.co.uk',
  64: 'www.net-a-porter.com',
  65: 'www.style.com',
  66: 'www.flannels.com',
  67: 'www.crossfit.com',
  68: 'www.crossfit.com',
  69: 'www.thesartorialist.com',
  70: 'www.thesartorialist.com',
  71: 'www.crossfit.com',
  72: 'www.boxing4fitness.co.uk',
  73: 'www.bt.com',
  74: 'home.bt.com',
  75: 'www.yogajournal.com',
  76: 'xe.com',
  77: 'https://www.cargiant.co.uk/',
  78: 'www.skoda.co.uk',
  79: 'www.peugeot.co.uk/',
  80: 'https://www.audi.co.uk'}}

In [52]:
actions_list = df.set_index(['date'])[['name', 'value', 'direction', 'durationInSeconds']].to_records().tolist()

In [21]:
S = [x**2 for x in range(10)]

In [22]:
S

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
V = [2**i for i in range(13)]

In [33]:
x = [1, 2, 3]
y = [4, 5, 6]
zipped = zip(x, y)

In [34]:
list(zipped)

[(1, 4), (2, 5), (3, 6)]

In [35]:
x2, y2 = zip(*zip(x, y))

In [32]:
x2 = x

In [37]:
x == list(x2)

True

In [53]:
actions2_list = df2.set_index(['date'])[['name', 'value', 'direction', 'durationInSeconds']].to_records().tolist()

In [54]:
new_list = []
for element in actions2_list :
    if element not in actions_list:
        new_list.append(element)

In [57]:
new_list

[(datetime.datetime(2017, 6, 6, 0, 0),
  'VOICE',
  '020 7262 8887',
  'outbound',
  datetime.time(0, 19)),
 (datetime.datetime(2017, 6, 6, 0, 0),
  'VOICE',
  '020 7262 8887',
  'inbound',
  datetime.time(0, 0)),
 (datetime.datetime(2017, 6, 6, 0, 0),
  'VOICE',
  '01342 349352',
  'outbound',
  datetime.time(0, 17)),
 (datetime.datetime(2017, 6, 6, 0, 0),
  'VOICE',
  '0330 042 4607',
  'outbound',
  datetime.time(0, 17)),
 (datetime.datetime(2017, 6, 6, 0, 0),
  'VOICE',
  '020 3284 5772',
  'outbound',
  datetime.time(0, 17)),
 (datetime.datetime(2017, 7, 4, 0, 0),
  'VOICE',
  '0333 003 0700',
  'outbound',
  datetime.time(1, 0)),
 (datetime.datetime(2017, 7, 4, 0, 0),
  'VOICE',
  '02 036 843 774',
  'outbound',
  datetime.time(1, 0))]

In [58]:
df_diff = pd.DataFrame(new_list)

In [59]:
df_diff

           0      1               2         3         4
0 2017-06-06  VOICE   020 7262 8887  outbound  00:19:00
1 2017-06-06  VOICE   020 7262 8887   inbound  00:00:00
2 2017-06-06  VOICE    01342 349352  outbound  00:17:00
3 2017-06-06  VOICE   0330 042 4607  outbound  00:17:00
4 2017-06-06  VOICE   020 3284 5772  outbound  00:17:00
5 2017-07-04  VOICE   0333 003 0700  outbound  01:00:00
6 2017-07-04  VOICE  02 036 843 774  outbound  01:00:00